// Подключаемые шрифты
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

//Переменные, шаблоны, общие стили
@import 'variables.less'; // Переменные
@import 'templates.less'; // Готовые шаблоны
@import 'default-settings.less'; // Общие обнуляющие стили и т.п.

// Блоки
@import 'block/body.less'; // Body
@import 'block/header.less'; // Шапка
@import 'block/logo.less'; // Логотипы
@import 'block/main-nav.less'; // Меню
@import 'block/button.less'; // Кнопка
@import 'block/choose-program.less'; // Программа для котов
@import 'block/programs.less'; // Список программ для кота
@import 'block/promo.less'; // Промо материалы
@import 'block/example-cat.less'; // Живой пример
@import 'block/contact-info.less'; // Контактная информация
@import 'block/other-info.less'; // Другая информация
@import 'block/footer.less'; // Футер


//Каталог продукции
.products {
  &__title {
    .font-heading();
  }
}