.example-cat {
  padding-top: 27px;
  background-color: @color-white-light;
  padding-bottom: 25px;
  @media (min-width: @tablet-width) {
    background-image: linear-gradient(to bottom, @color-white 50%, @color-white-light 50%);
  }
  @media (min-width: @desktop-width) {
    background-image: linear-gradient(to bottom, @color-white 25%, @color-white-light 25%);
  }
  &__container {
    @media (min-width: @desktop-width) {
      display: grid;
      grid-template-columns: 1fr 690px;
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
        "title slider"
        "text slider"
        "info slider";
    }
  }
  &__title {
    margin-bottom: 33px;
    @media (min-width: @tablet-width) {
      .font-heading(@size: 60px; @height: 60px);
      margin-bottom: 63px;
    }
    @media (min-width: @desktop-width) {
      grid-area: title;
      margin-bottom: 146px;
    }
  }
  &__text {
    @media (min-width: @tablet-width) {
      .font-body(@size: 16px; @height: 24px);
      margin-bottom: 54px;
    }
    @media (min-width: @desktop-width) {
      grid-area: text;
      margin-top: 0;
      margin-bottom: 69px;
    }
  }
  &__data {
    @media (min-width: @tablet-width) {
      display: flex;
      justify-content: space-between;
    }
    @media (min-width: @desktop-width) {
      grid-area: info;
      flex-direction: column;
    }
  }
  &__list {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-bottom: 26px;
    @media (min-width: @desktop-width) {
      margin-bottom: 55px;
      justify-content: flex-start;
    }
    :first-of-type {
      @media (min-width: @tablet-width) {
        margin-right: 42px;
      }
    }
    :first-of-type::after {
      content: "снижение\0a веса";
      position: absolute;
      .font-body(@family: 'Arial'; @size: 12px; @height: 12px);
      width: 87px;
      white-space: pre;
      background-color: @color-white-light;
      text-align: center;
      bottom: -15px;
      @media (min-width: @tablet-width) {
        width: 114px;
        content: "снижение веса";
        background-color: @color-white;
        bottom: -5px;
      }
      @media (min-width: @desktop-width) {
        background-color: @color-white-light;
      }
    }
    :last-of-type::after {
      content: "затрачено времени";
      position: absolute;
      .font-body(@family: 'Arial'; @size: 12px; @height: 12px);
      width: 87px;
      background-color: @color-white-light;
      text-align: center;
      bottom: -15px;
      @media (min-width: @tablet-width) {
        width: 114px;
        background-color: @color-white;
        bottom: -5px;
      }
      @media (min-width: @desktop-width) {
        background-color: @color-white-light;
      }
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid @color-silver-light;
    border-radius: 3px;
    width: 124px;
    height: 56px;
    .font-body(@family: 'Oswald'; @size: 24px; @height: 24px);
    @media (min-width: @tablet-width) {
      width: 162px;
      height: 77px;
    }
  }
  &__commercial {
    .font-body(@family: 'Oswald', serif; @height: 20px);
    text-transform: uppercase;
    text-align: center;
    @media (min-width: @tablet-width) {
      width: 174px;
      text-align: right;
      .font-body(@family: 'Oswald', serif; @size: 20px; @height: 20px);
    }
    @media (min-width: @desktop-width) {
      width: 100%;
      text-align: left;
    }
  }
  &__slider {
    @media (min-width: @desktop-width) {
      grid-area: slider;
      align-self: flex-end;
      //justify-self: flex-start;
      margin-bottom: 8px;
    }
  }
  &__block {
    display: flex;
    position: relative;
    @media (min-width: @tablet-width) {
      width: 700px;
      height: 550px;
    }
  }
  &__green-block {
    width: 140px;
    height: 210px;
    //background-color: @color-green;
    background-image: url(/img/cat-1-280.webp);
    background-repeat: no-repeat;
    @media (min-width: @tablet-width) {
      width: 700px;
      height: 550px;
      background-image: url(/img/cat-1-708.webp);
    }
  }
  &__yellow-block {
    position: relative;
    overflow: hidden;
    width: 140px;
    height: 210px;
    //background-color: #ffd700;
    background-image: url(/img/cat-2-200.webp);
    background-size: 280px 200px;
    background-position: bottom right;
    background-repeat: no-repeat;
    @media (min-width: @tablet-width) {
      width: 700px;
      height: 550px;
      background-image: url(/img/cat-2-708.webp);
      background-size: 700px 550px;
    }
  }
  &__yellow-image {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 280px;
    min-height: 200px;
  }
  &__controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media (min-width: @desktop-width) {
      justify-content: space-around;
    }
  }
  &__label {
    display: flex;
    width: 70px;
    height: 40px;
    .font-body(@family: 'Oswald', serif; @size: 16px; @height: 20px);
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    @media (min-width: @desktop-width) {
      .font-body(@family: 'Oswald', serif; @size: 20px; @height: 30px);
    }
  }
}