.promo {
  width: 280px;
  margin: 27px auto 42px;
  &__title {
    margin-bottom: 38px;
  }
  &__list {

  }
  &__item {
    display: flex;
    margin-bottom: 20px;
  }
  &__picture {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    min-height: 60px;
    background-color: @color-green;
  }
  &__text {
    margin: 0;
    margin-left: 20px;
  }
}